div {
    display: flex;
    justify-content: center;
    


    h2 {
        color: rgb(31, 117, 77);
        font-weight: bold;
        border: 3px solid rgb(12, 142, 133);
        margin-top: 10rem;
        text-align: center;
        width: 35rem;
    }
}